<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dferreira.numbers_teach">


    <application
        android:name=".NumberTeachApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".languages_dashboard.views.LanguagesDashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities_list.ActivitiesListActivity"
            android:label="@string/activities"
            android:launchMode="singleTop"
            android:parentActivityName=".languages_dashboard.views.LanguagesDashboardActivity"
            tools:ignore="UnusedAttribute"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".languages_dashboard.views.LanguagesDashboardActivity" />
        </activity>

        <activity
            android:name=".lesson.LessonActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities_list.ActivitiesListActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities_list.ActivitiesListActivity" />
        </activity>

        <activity
            android:name="com.dferreira.numbers_teach.select_images_exercise.SelectImagesExerciseActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities_list.ActivitiesListActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities_list.ActivitiesListActivity" />

        </activity>

        <activity
            android:name=".scores.GlobalScoresListActivity"
            android:label="@string/results"
            android:launchMode="singleTop"
            android:parentActivityName=".activities_list.ActivitiesListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities_list.ActivitiesListActivity" />
        </activity>

        <activity
            android:name=".scores.ExerciseScoresListActivity"
            android:label="@string/results"
            android:launchMode="singleTop"
            android:parentActivityName=".scores.GlobalScoresListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".scores.GlobalScoresListActivity" />
        </activity>

        <activity
            android:name=".preferences.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:launchMode="singleTop"
            android:parentActivityName=".activities_list.ActivitiesListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities_list.ActivitiesListActivity" />

        </activity>

        <service android:name=".lesson.LessonService" />
        <service android:name=".select_images_exercise.SelectImagesExerciseService" />

        <meta-data
            android:name="search-engine"
            android:resource="@xml/no_index" />
    </application>

</manifest>
